<form>
    <div class="form-group" >
      <div class="alert alert-success" style="text-align: center;" role="alert">
        <h4 class="alert-heading">Welcome to my Portfolio!</h4>
        <p>Thank you for your interest in learning about my expertise!</p>
        <p class="mb-0">Please provide us with the email that you have given Sree / Sam in the field below...</p>
        <hr>
        <h1>Note: The token that is sent to your email is valid only for 3 hours!</h1>  
    </div>
    <div class="emailbox" style="margin-left: 340px; margin-top:150px">
<input type="email" class="form-control" style="width: 326px; margin-left: 200px; text-align: center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
<small id="emailHelp" class="form-text text-muted" style="margin-left: 240px">Your email will never be shared with anyone!</small>
<button type="submit" class="btn btn-primary" style="margin-left: 320px">Submit</button>
    </div>
    </div>
    
  </form>